<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookMate</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
</head>
<body class="bg-gray-100">
    <header class="bg-green-600 text-white px-4 py-3">
        <nav class="flex items-center justify-between">
            <div>
                <a href="/" class="text-xl font-bold">CookMate</a>
            </div>
            <div>
                <ul class="flex space-x-4">
                    <li><a href="/" class="border border-2 border-slate-50 rounded">Home</a></li>
                    <li><a href="/recipes" class="border border-2 border-slate-50 rounded">Recipes</a></li>
                    <li><a href="/add" class="border border-2 border-slate-50 rounded">Add</a></li>
                    <li><a href="/login" class="border border-2 border-slate-50 rounded">Login</a></li>
                   
                </ul>
            </div>
        </nav>
    </header>

    <main class="container mx-auto px-4 py-8 flex items-center justify-center">
        {{{body}}}
    </main>

    <footer class="bg-green-600 text-white text-center py-4">
        &copy; 2024 CookMate
    </footer>
</body>
</html>