{{! recipes.handlebars }}
  <div class="relative w-full h-64 mb-8">
    <img
      src="./assets/cookmatebanner.jpg"
      alt="Delicious Recipes"
      class="absolute inset-0 object-cover w-full h-full"
    />
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <!-- Optional overlay for better text visibility -->
    <div class="relative flex items-center justify-center h-full">
      <h1 class="text-white text-3xl font-bold">Welcome to CookMate</h1>
    </div>
  </div>

  <div class="flex justify-center mb-8">
    <div class="max-w-2xl w-full bg-white shadow-md rounded px-8 pt-6 pb-8">
      <h2 class="text-2xl font-bold text-green-600 mb-4">Explore Recipes</h2>
      <div
        class="border-t border-gray-300 py-2 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6"
      >
        {{#each recipes as |recipe|}}
          <div class="mb-3 border border-gray-400 p-4 rounded">
            <h3
              class="text-xl font-bold text-gray-700 mb-2"
            >{{recipe.recipeName}}</h3>
            <p class="text-gray-600 font-semibold">Posted By:
              <span><em>{{User.username}}</em></span></p>
            <p class="text-gray-600 font-semibold">Ingredients:</p>
            <p class="text-gray-600 break-words">{{recipe.ingredients}}</p>
            <p class="text-gray-600 font-semibold mt-2">Instructions:</p>
            <p class="text-gray-600 break-words">{{recipe.instructions}}</p>
          </div>
        {{/each}}
      </div>
    </div>
  </div>