<div class="container mx-auto px-4 py-8">
<div class="container bg-white p-4 rounded-lg shadow-lg max-w-md mx-auto">
  <h1 class="text-center text-2xl font-bold mb-3 text-green-600">Sign Up</h1>
  <form method="POST" class="space-y-3" id="signupForm">
    <div class="form-group">
      <label for="username" class="block text-gray-700">Username</label>
      <input type="text" id="signupUsername" name="username" required class="w-full p-1.5 border border-gray-300 rounded" />
    </div>
    <div class="form-group">
      <label for="password" class="block text-gray-700">Password</label>
      <input type="password" id="signupPassword" name="password" required class="w-full p-1.5 border border-gray-300 rounded" />
    </div>
    <div class="form-group">
      <button type="submit" class="w-full bg-green-500 text-white py-1.5 rounded hover:bg-green-600 transition">Sign Up</button>
    </div>
  </form>
</div>
</div>
<script src="./js/signup.js"></script>